:root  {
    --almostBlack: #232323;
    --lightBlue: #b4cde6;
    --baseBlue: #7b9acd;
    --darkerBlue: #6977d3;
    --darker2Blue: #8778b5;
    --lightViolet: #8f65a2;
    --baseViolet: #94528c;
    --darkViolet: #973e72;
    font-size: clamp(1rem, 4vw, 4vw);
    font-family: 'DefaultFont'; /* Currently Chakra Petch*/
    box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font-family: inherit; 
}

body {
    overflow: hidden;
    background-color: var(--lightBlue);
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--baseViolet);
}




/* containers and backgrounds */
.contenContainer {
  display: grid;
  grid-template-rows: 10fr 75fr 15fr;
  height: 100%;
  width: 100%;
  background-color: brown; /* debug color */
  overflow: hidden;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  background-color: var(--darker2Blue);
}

.centerBackground {
  grid-row: 2;
  background-color: var(--darkerBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}


.bottomToolbarBackground { 
  padding: 0;   
  grid-row: 3;
  background-color:var(--darker2Blue);
  display: flex;
  justify-content: center; /* Centers text horizontally */
  align-items: center;
}

/* Header */

.headerToolbar {
  font-size: clamp(1rem, 6vh, 2rem);
  display: flex;
  justify-content: center; /* Centers text horizontally */
  align-items: center;
  height: 80%;
  width: 90%;
}


/* Footer */

.bottomToolbar {
  display: flex;
  gap: 8%;
  height:70%;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
}

.bottomToolbarText {
  font-size: clamp(1rem, 2rem, 3rem);
}

.bottomToolbarButton{
  padding-left: 4%;
  padding-right: 4%;
}

.defaultButtonStyle{
  font-size: clamp(1rem, 6vw, 4rem);
  background-color: var(--lightBlue);
  border-color: var(--darkerBlue);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.9rem;
}

.topBackButton{
  margin: 3%;
  padding: 4%;
}

.startButton {
  width: 100%;
  height: 100%;
}

.centerContentContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerButtonContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  gap: 3%;
}


.menuButton{
  font-size: clamp(1.5rem, 10vw, 4rem);
  width: 100%;
  height: 100%;
  background-color: var(--lightBlue);
  border-color: var(--darker2Blue);
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 0.9rem;
}


.helpButton {
  width: 100%;
  height: 100%;
}




/* Game display */
.gameDisplay {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: clamp(25px, 30vh,35vmin);
  overflow: hidden;
}























/* Adding the font, might remove some not needed styles */
@font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
  }
  
  /* Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Italic.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: italic;
  }
  
  /* Light */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  /* Light Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-LightItalic.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: italic;
  }
  
  /* Medium */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  /* Medium Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-MediumItalic.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: italic;
  }
  
  /* SemiBold */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
  }
  
  /* SemiBold Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: italic;
  }
  
  /* Bold */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  /* Bold Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-BoldItalic.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: italic;
  }