:root  {
    --almostBlack: #232323;
    --lightBlue: #b4cde6;
    --baseBlue: #7b9acd;
    --darkerBlue: #6977d3;
    --darker2Blue: #8778b5;
    --lightViolet: #8f65a2;
    --baseViolet: #94528c;
    --darkViolet: #973e72;
    margin: 0;
    font-size: 4.5dvh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional: Ensures padding and border are included in element dimensions */
}




body {
    overflow: hidden;
    background-color: var(--lightBlue);
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100dvh; 
    width: 100dvw; 
    font-family: 'DefaultFont'; /* Currently Chakra Petch*/
    background-color: var(--baseViolet);
}

.pageTitle {
    grid-column: 1/19;
    grid-row: 1/6;
    display: flex;    
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}



.contenContainer {
  display: grid;
  grid-template-rows: 10fr 75fr 15fr;
  height: 100dvh;
  background-color: brown; /* debug color */
  overflow: hidden;
  aspect-ratio: 18/39;
}

.headerBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  background-width: 100vw;
  background-color: var(--darker2Blue);
}

.centerBackground {
  grid-row: 2;
  background-color: var(--darkerBlue);
}

.bottomToolbarBackground { 
  padding: 0;   
  grid-row: 3;
  background-color:var(--baseViolet);
  display: flex;
  justify-content: center; /* Centers text horizontally */
  align-items: center;
}




.headerToolbar {
  display: flex;
  justify-content: center; /* Centers text horizontally */
  align-items: center;
  aspect-ratio: 5/1;
  height: 80%;
}



.bottomToolbar {
  display: flex;
  gap: 8%;
  height:80%;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
}

.bottomToolbarButton{
  font-size: 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--lightBlue);
  border-color: var(--darkerBlue);
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.9em;
}


.startButton {
  width: 100%;
  height: 100%;
}


.helpButton {

}





























/* Adding the font, might remove some not needed styles */
@font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
  }
  
  /* Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Italic.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: italic;
  }
  
  /* Light */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  /* Light Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-LightItalic.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: italic;
  }
  
  /* Medium */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  /* Medium Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-MediumItalic.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: italic;
  }
  
  /* SemiBold */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
  }
  
  /* SemiBold Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: italic;
  }
  
  /* Bold */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  /* Bold Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-BoldItalic.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: italic;
  }