:root  {
    --almostBlack: #232323;
    --lightBlue: #b4cde6;
    --baseBlue: #7b9acd;
    --darkerBlue: #6977d3;
    --darker2Blue: #8778b5;
    --lightViolet: #8f65a2;
    --baseViolet: #94528c;
    --darkViolet: #973e72;
    margin: 0;
    font-size: 4.5vh;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: var(--lightBlue);
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100dvh; 
    width: 100dvw; 
    font-family: 'DefaultFont'; /* Currently Chakra Petch*/
    background-color: var(--baseViolet);
}

.content {
    background-color: var(--darkerBlue);
    aspect-ratio: 18/39;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(18, 1fr); /* 18 equal-width columns */
    grid-template-rows: repeat(39, 1fr);   /* 39 rows with height based on content */
}




.headerToolbar {
    grid-column: 1/19;
    grid-row: 1/6;
    background-color: var(--darker2Blue);
}

.pageTitle {
    grid-column: 1/19;
    grid-row: 1/6;
    display: flex;    
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}



.contenContainer {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 2fr 6fr 2fr;
  height: 100dvh;   
  width: 100dvw;
  background-color: brown;
}

.headerBackground {
  margin: 0;
  padding: 0;
  grid-row: 1;
  background-color: var(--darkerBlue);
}

.middleBackground {
  margin: 0;
  padding: 0;
  grid-row: 2;
  background-color: var(--lightBlue);
}

.bottomToolbarBackground { 
  margin: 0;
  padding: 0;   
  grid-row: 3;
  background-color:var(--baseViolet);
}







































/* Adding the font, might remove some not needed styles */
@font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
  }
  
  /* Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Italic.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: italic;
  }
  
  /* Light */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  /* Light Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-LightItalic.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: italic;
  }
  
  /* Medium */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  /* Medium Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-MediumItalic.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: italic;
  }
  
  /* SemiBold */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
  }
  
  /* SemiBold Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: italic;
  }
  
  /* Bold */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  /* Bold Italic */
  @font-face {
    font-family: 'DefaultFont';
    src: url('../resources/fonts/Chakra_Petch/ChakraPetch-BoldItalic.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: italic;
  }