body {
    margin: 0;
    background-color: rgb(247, 158, 49);
}

.contenContainer {
    display: grid;
    grid-template-rows: 2fr 6fr 2fr;
    height: 100vh;
    width: 100vw;
    background-color: brown;
}

.headerBackground {
    grid-row: 1;
    background-color: blue;
}


.middleBackground {
    height: 100%;
    width: 100%;
    background-color: rgb(25, 191, 31);
}


.bottomToolbarBackground {    
    min-height: 100%;
    width: 100%;
    background-color: rgb(255, 102, 0);
}