:root {
    --red: #dc3545;
    --green: #28a745;
}

.centerBackground {
    /* Expand the center content across rows 2 to 4 */
    grid-row: 2 / 4;
    display: grid;
    grid-template-rows: 12fr 4fr; 
    grid-template-columns: repeat(9, 1fr); 
}

.taskDisplay {
    /* Place the task display in the first row, spanning all 9 columns */
    grid-row: 1;
    grid-column: 1 / 10;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 2rem;
}

.answerDisplay {
    height: 100%;
    width: 100%;
    grid-row: 2;
    grid-column: 1 / 10;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 5fr 1fr;
    grid-template-columns: 1fr 6fr 1fr 6fr 1fr; /* 9 columns */
}

.taskFeedbackDisplay {
    grid-row: 1 / 3;
    grid-column: 1 / 10;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    display: none; /* Initially hidden */
    z-index: 9999;
}



/* Button styles */
.answerButton {
    height: 100%;
    width: 100%;
    border-color: var(--darker2Blue);
}

#answerButton_0 {
    grid-row: 2; 
    grid-column: 2; 
}

#answerButton_1 {
    grid-row: 2; 
    grid-column: 4; 
}

#answerButton_2 {
    grid-row: 4; 
    grid-column: 2; 
}

#answerButton_3 {
    grid-row: 4; 
    grid-column: 4; 
}


/* Feedback for the task display */
.taskFeedbackFalse {
    background-color: var(--red);
    display: block;
}
.taskFeedbackTrue {
    background-color: var(--green);
    display: block;
}