.centerBackground {
    /* Expand the center content across rows 2 to 4 */
    grid-row: 2 / 4;
    display: grid;
    grid-template-rows: 20fr 6fr;
    grid-template-columns: repeat(9, 1fr);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.numberDisplay {
    grid-row: 1;
    grid-column: 1 / 10;
    height: 100%;
    width: 100%;
    display: flex; /* Changed from duplicate grid to flex */
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem, 8rem, 10rem); ;
}

.swipeButtonDisplay {
    grid-row: 2;
    grid-column: 1 / 10;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 6fr 1fr 6fr 1fr; /* 9 columns */
}

.taskFeedbackDisplay {
    grid-row: 1 / 3;
    grid-column: 1 / 10;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 9999;
}

/* Button styles */
.swipeButton {
    aspect-ratio: 1 / 1;
    height: 100%; /* Changed from 0% */
    border-radius: 100%;
    border-color: var(--darker2Blue);
    color: var(--darker2Blue);
    text-align: center; 
    background-size: cover;          /* or 'contain' or specific size */
    background-repeat: no-repeat;
    background-position: center;
}

#leftButton {
    grid-row: 2; 
    grid-column: 2; 
    justify-self: center;
    align-self: center;
    font-size: clamp(1rem, 2rem, 3rem);
    background-image: url('../svg/buttonBackgrounds/cross.svg');
}

#rightButton {
    grid-row: 2; 
    grid-column: 4; 
    justify-self: center;
    align-self: center;
    font-size: clamp(1rem, 2.7rem, 3rem);
    background-image: url('../svg/buttonBackgrounds/heart.svg');
    background-size: 80%; /* Adjust size as needed */
    background-position: center 55%;
    background-repeat: no-repeat;

}

.rightButtonPressFeedback{
    background-color:var(--green);
}

.leftButtonPressFeedback{
    background-color:var(--red);
}

.resultDisplay{
    grid-row: 1 / 3;
    grid-column: 1 / 10;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    display: none; /* Initially hidden */
    background-color: var(--darker2Blue);
    z-index: 9999;
}

.visibleResultDisplay{
    display: block;
}
